html,body{
	height: 100%;
	width: 100%;
	margin: 0;
}

/*scene2 style*/
#scene2{
	/*display: none;*/
	width: 100%;
	height: 100%;
	z-index: 100;
}

#alert0 {
	width:70%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*background + 7 file image + bat*/
.scene2_img{
	float: left;
	/*position: absolute;
	top: 10%;
	left: 10%;*/
	height:150px;
	/*	width:150px;*/
	z-index: 100;
}



/*the images of files*/
#noChange {
	margin-left:140px;
	padding-top:100px;
}

#bat1, #bat2, #bat3 {
	margin:0;
	height: 100%;
	width: 100%;
	position:fixed;
	top:0%;
	right:0%;
	z-index: -100;
}

#bat1, #bat2 {
	display:none;
}

#topbar{
	height: 3.5%;
}

#alert1 {
	display: none;
	width:70%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*all 7 videos*/
.scene2_vid {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
}


